# Kacper
Kacper Jacek Kreczko <kacperjk@stud.ntnu.no> Kacper Jacek Kreczko <kacperjk@stud.ntnu.no>

# Thomas
Thomas Haslund Wik <thomahw@stud.ntnu.no> ThomasHWik <146004751+ThomasHWik@users.noreply.github.com>
Thomas Haslund Wik <thomahw@stud.ntnu.no> thomahw <thomahw@stud.ntnu.no>
Thomas Haslund Wik <thomahw@stud.ntnu.no> Thomas Haslund Wik <thomahw@stud.ntnu.no>

# Kjartan
Kjartan Lyse <kjartals@stud.ntnu.no> Kjartan Lyse S<C3><B8>rsk<C3><A5>r <kjartals@stud.ntnu.no>

# Jenny
Jenny Straumbotn <jennystr@stud.ntnu.no> jennystr <jennystr@stud.ntnu.no>
Jenny Straumbotn <jennystr@stud.ntnu.no> Jenny Straumbotn <jennystr@stud.ntnu.no>

# Frida
Frida Benedikte Iversen <fridabi@stud.ntnu.no> Frida Iversen <fridabenedikte@Fridas-MacBook-Air.local>
Frida Benedikte Iversen <fridabi@stud.ntnu.no> Frida Iversen <fridabenedikte@dhcp-10-22-8-89.wlan.ntnu.no>
Frida Benedikte Iversen <fridabi@stud.ntnu.no> Frida Benedikte Iversen <fridabi@stud.ntnu.no>
Frida Benedikte Iversen <fridabi@stud.ntnu.no> Frida Iversen <fridabenedikte@dhcp-10-22-11-60.wlan.ntnu.no>
Frida Benedikte Iversen <fridabi@stud.ntnu.no> Frida Iversen <fridabenedikte@dhcp-10-22-11-109.wlan.ntnu.no>
Frida Benedikte Iversen <fridabi@stud.ntnu.no> Frida Iversen <fridabenedikte@dhcp-10-22-9-85.wlan.ntnu.no>